<p>add-movies works!</p>
<div class="uploadImg">
  <!-- <button class="btn btn-success" (click)="themHinh()">Thêm hình</button> -->
  <input type="file" (change)="handleSelectFile($event)">
</div>


<div class="container-fluid user_add">
  <h1 style="text-align: center">Form thêm Movie</h1>

  <form [formGroup]="addMovieForm" class="form-container" (ngSubmit)="handleAddMovie()">
    <!-- tài khoản  -->

    <mat-form-field appearance="fill">

      <mat-label>Mã phim</mat-label>
      <input matInput formControlName="maPhim">
      <mat-icon matSuffix>
        <span class="material-icons">
          assignment_ind
        </span>
      </mat-icon>

      <mat-error *ngIf="addMovieForm.get('maPhim')?.invalid">
        <span *ngIf="addMovieForm.get('maPhim')?.errors?.required">
          Mã phim không được để trống
        </span>
        <span *ngIf="addMovieForm.get('maPhim')?.errors?.minlength || addMovieForm.get('maPhim')?.errors?.maxlength">
          Mã phim phải từ 3 đến 20 kí tự
        </span>
      </mat-error>
      <!-- <pre>{{taiKhoan.errors | json}}</pre> -->
      <!-- <div *ngIf="taiKhoan.invalid && (taiKhoan.dirty || taiKhoan.touched)">
              Tài khoản không được bỏ trống
          </div> -->
    </mat-form-field>
    <!-- mật khẩu  -->

    <mat-form-field appearance="fill">
      <mat-label>Tên phim</mat-label>
      <input matInput formControlName="tenPhim">
      <mat-icon matSuffix>
        <span class="material-icons">
          lock
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('tenPhim')?.invalid">
        <span *ngIf="addMovieForm.get('tenPhim')?.errors?.required">
          Tên phim không được để trống
        </span>
        <span *ngIf="addMovieForm.get('tenPhim')?.errors?.minlength">
          Tên phim phải lớn hơn 3 ký tự
        </span>

      </mat-error>
    </mat-form-field>

    <!-- Email  -->
    <mat-form-field appearance="fill">
      <mat-label>Bí danh</mat-label>
      <input matInput formControlName="biDanh" />
      <mat-icon matSuffix>
        <span class="material-icons">
          email
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('biDanh')?.invalid">
        <span *ngIf="addMovieForm.get('biDanh')?.errors?.required">
          Bí danh không được để trống
        </span>

      </mat-error>
    </mat-form-field>

    <!-- họ Tên  -->
    <mat-form-field appearance="fill">
      <mat-label>Trailer</mat-label>
      <input matInput formControlName="trailer">
      <mat-icon matSuffix>
        <span class="material-icons">
          face
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('trailer')?.invalid">
        <span *ngIf="addMovieForm.get('trailer')?.errors?.required">
          Trailer không được để trống
        </span>

      </mat-error>
    </mat-form-field>

    <!-- Số điện thoại  -->
    <input  type="file" (change)="handleSelectFile($event)"  formControlName="hinhAnh">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Hình ảnh</mat-label>
      <input matInput formControlName="hinhAnh">
      <mat-icon matSuffix>
        <span class="material-icons">
          perm_phone_msg
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('hinhAnh')?.invalid">
        <span *ngIf="addMovieForm.get('hinhAnh')?.errors?.required">
          Hình ảnh không được được để trống
        </span>

      </mat-error>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="fill">
          <mat-label>Mã loại người dùng</mat-label>
          <input matInput formControlName="maLoaiNguoiDung">
          <mat-icon matSuffix>
              <span class="material-icons">
                  face
                  </span>
          </mat-icon>
          <mat-error *ngIf="addUserForm.get('maLoaiNguoiDung')?.invalid">
              <span *ngIf="addUserForm.get('maLoaiNguoiDung')?.errors?.required">
                  Họ tên không được để trống
              </span>
  
          </mat-error>
      </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Mô tả</mat-label>
      <input matInput formControlName="moTa">
      <mat-icon matSuffix>
        <span class="material-icons">
          lock
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('moTa')?.invalid">
        <span *ngIf="addMovieForm.get('moTa')?.errors?.required">
          Mô tả không được để trống
        </span>
        <span *ngIf="addMovieForm.get('moTa')?.errors?.minlength">
          Mô tả phải lớn hơn 10 ký tự
        </span>

      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ngày khởi chiếu</mat-label>
      <input matInput formControlName="ngayKhoiChieu">
      <mat-icon matSuffix>
        <span class="material-icons">
          perm_phone_msg
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('ngayKhoiChieu')?.invalid">
        <span *ngIf="addMovieForm.get('ngayKhoiChieu')?.errors?.required">
          Ngày khởi chiếu không được được để trống
        </span>

      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Đánh giá</mat-label>
      <input matInput formControlName="danhGia">
      <mat-icon matSuffix>
        <span class="material-icons">
          perm_phone_msg
        </span>
      </mat-icon>
      <mat-error *ngIf="addMovieForm.get('danhGia')?.invalid">
        <span *ngIf="addMovieForm.get('danhGia')?.errors?.required">
          Đánh giá không được được để trống
        </span>

      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Mã loại người dùng</mat-label>
      <mat-select formControlName="maLoaiNguoiDung">
        <mat-option value="QuanTri">QuanTri</mat-option>
        <mat-option value="KhachHang">KhachHang</mat-option>
      </mat-select>

      <mat-error *ngIf="addMovieForm.get('maLoaiNguoiDung')?.invalid">
        <span *ngIf="addMovieForm.get('maLoaiNguoiDung')?.errors?.required">
          Mã loại người dùng không được để trống
        </span>

      </mat-error>
    </mat-form-field> -->


    <!-- <button [disabled]="signupForm.invalid">Submit</button> -->
    <button mat-raised-button color="accent">Thêm</button>
    <p *ngIf="errors" class="alert alert-danger">
      {{errors?.error}}
    </p>
  </form>
</div>

<div class="modal-succcess">
  <div class="text-center">
    <!-- Button HTML (to Trigger Modal) -->
    <a #myDiv href="#myModal" class="trigger-btn" data-toggle="modal" id="modal-trigger">Click to Open Confirm Modal</a>
  </div>

  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="material-icons">offline_pin</i>
          </div>
          <h4 class="modal-title">Awesome!</h4>
        </div>

        <div class="modal-body">
          <p class="text-center">Chúc mừng bạn đã thêm người dùng thành công</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-block" data-dismiss="modal" routerLink="/admin/users">OK</button>
        </div>

      </div>
    </div>
  </div>
</div>