<div class="movieDetail container-fluid">
    <div class="row">
        <div class="movie-img col-4">
            <img [src]="movieDetail.hinhAnh" alt="">

        </div>
        <div class="movie-info col-4">
            <p>{{movieDetail.ngayKhoiChieu}}</p>
            <span class="mr-4 c13">C13</span>
            <span class="movie-name">{{movieDetail.tenPhim}}</span>
            <p class="howlong">{{showtimes[0]?.thoiLuong}} phút</p>
            <button mat-raised-button color="warn" class="muave">Mua vé</button>
            <br>
            <br>
            <br>
            <a class="trailer" [href]="movieDetail.trailer">
                <span>
                    <i class="material-icons">
                        headset
                    </i>
                </span>
                <span class="watch">Xem trailer</span>
            </a>
        </div>
        <div class="star col-4">
            <p>Đánh giá</p>
            <h1>{{movieDetail.danhGia}}<i class="material-icons">
                star_rate
                </i></h1> 
          
            <star-rating [value]="movieDetail.danhGia" [totalstars]="10" checkedcolor="red" uncheckedcolor="pink"
                size="24px" [readonly]="false"></star-rating>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#lichChieu" role="tab"
            aria-controls="nav-home" aria-selected="true">Lịch chiếu</a>
        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#thongTin" role="tab"
            aria-controls="nav-profile" aria-selected="false">Thông tin</a>
        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#danhGia" role="tab"
            aria-controls="nav-contact" aria-selected="false">Đánh giá</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="lichChieu" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-banner></app-banner>
        <app-show-times></app-show-times>
    </div>
    <div class="tab-pane fade thongTinPhim" id="thongTin" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="movie-detail col-6">

            <table class="table table-borderless table-dark ">
                <tbody>
                    <tr>
                        <th scope="row">Ngày công chiếu</th>
                        <td>{{movieDetail.ngayKhoiChieu}}</td>

                    </tr>
                    <tr>
                        <th scope="row">Đạo diễn</th>
                        <td>Charlie Nguyễn</td>

                    </tr>
                    <tr>
                        <th scope="row">Diễn viên</th>
                        <td>Emma Watson</td>
                    </tr>
                    <tr>
                        <th scope="row">Thể loại</th>
                        <td>Hài hước</td>
                    </tr>
                    <tr>
                        <th scope="row">Định dạng</th>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <th scope="row">Quốc gia</th>
                        <td>Mỹ, Việt Nam</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="movie-content col-6">
            <h3>Nội dung phim</h3>
            <p>{{movieDetail.moTa}}</p>
        </div>
    </div>
    <div class="tab-pane fade danhGiaPhim" id="danhGia" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="evaluate">
            <a class="your-think" type="button" data-toggle="modal" data-target="#exampleModal">
                <img *ngIf="!currentuser" src="assets/img/account_circle-white-18dp.svg" alt="" class="mr-3">
                <img *ngIf="currentuser" src="assets/img/comment0.jpg" alt="" class="mr-3">
                <span class="nhanxet">Bạn nghĩ gì về phim này ha</span>
                <span class="diem">
                    <span class="material-icons">
                        star_rate
                    </span>
                    <span class="material-icons">
                        star_rate
                    </span>
                    <span class="material-icons">
                        star_rate
                    </span>
                    <span class="material-icons">
                        star_rate
                    </span>
                    <span class="material-icons">
                        star_rate
                    </span>
                </span>
            </a>

        </div>
        <div *ngIf="display">
            <div *ngFor="let comment of yourComment" class="comment1 mt-4">
                <div class="comment_tittle">
                    <div class="nick_name">
                        <div class="nick_nane_left">
                            <img src="assets/img/comment0.jpg" alt="">
                            <div class="name">
                                <h4>{{detailuser?.taiKhoan}}</h4>
                                <p>Vừa xong</p>
                            </div>
                        </div>

                        <div class="rate-star">
                            <i class="material-icons">
                                star_rate
                            </i>
                            <span>({{comment.rate}})</span>

                        </div>

                    </div>
                    <div class="comment_here">
                        <p>{{comment.comment}}</p>
                        <hr>
                        <div class="like">
                            <img class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg" alt="">
                            <span class="mr-2">0</span>
                            <span class="mr-2">Thích</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="comment1 mt-4">
            <div class="comment_tittle">
                <div class="nick_name">
                    <div class="nick_nane_left">
                        <img src="assets/img/comment1.jpg" alt="">
                        <div class="name">
                            <h4>Nguyễn Phương Dung</h4>
                            <p>12h trước</p>
                        </div>
                    </div>

                    <div class="rate-star">
                        <i class="material-icons">
                            star_rate
                        </i>
                        <span>(10)</span>

                    </div>

                </div>
                <div class="comment_here">
                    <p>Phim có nội dung thu hút, nhạc hay và đặt đúng mạch cảm xúc. Diễn viên diễn xuất ổn.</p>
                    <hr>
                    <div class="like">

                        <ng-container *ngIf="isLike1, else liked1">
                            <img (click)="addLike1()" class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg" alt="">
                        </ng-container>
                        <span class="mr-2">{{like1}}</span>
                        <span class="mr-2">Thích</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="comment1">
            <div class="comment_tittle">
                <div class="nick_name">
                    <div class="nick_nane_left">
                        <img src="assets/img/comment3.jpg" alt="">
                        <div class="name">
                            <h4>Trần Minh</h4>
                            <p>1 ngày trước</p>
                        </div>
                    </div>

                    <div class="rate-star">
                        <i class="material-icons">
                            star_rate
                        </i>
                        <span>(9)</span>
                    </div>
                </div>
                <div class="comment_here">
                    <p>Phim tình cảm rất hay và nữ diễn viên chính xinh đẹp diễn xuất sắc</p>
                    <hr>
                    <div class="like">
                        <ng-container *ngIf="isLike2, else liked2">
                            <img (click)="addLike2()" class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg" alt="">
                        </ng-container>

                        <span class="mr-2">{{like2}}</span>
                        <span class="mr-2">Thích</span>
                    </div>

                </div>


            </div>
        </div>

        <div class="comment1">
            <div class="comment_tittle">
                <div class="nick_name">
                    <div class="nick_nane_left">
                        <img src="assets/img/comment2.jpg" alt="">
                        <div class="name">
                            <h4>Trang thảo</h4>
                            <p>2 ngày trước</p>
                        </div>
                    </div>

                    <div class="rate-star">
                        <i class="material-icons">
                            star_rate
                        </i>
                        <span>(5)</span>

                    </div>
                </div>
                <div class="comment_here">
                    <p>chán ốm và nhạt nhẽo, ít đầu tư, như phim hạng B. chỉ có mỗi sao thì ko đủ kéo phim dậy được. lại
                        thêm cái nội dung mang tính chính trị khá lộ liễu, bây giờ chú không bảo vệ gia đình, con cái
                        nữa, mà bảo vệ một đứa nhóc Mexio vượt biên và giúp nó ở lại nước Mỹ, funny!</p>
                    <hr>
                    <div class="like">
                        <ng-container *ngIf="isLike3, else liked3">
                            <img (click)="addLike3()" class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg" alt="">
                        </ng-container>
                        <span class="mr-2">{{like3}}</span>
                        <span class="mr-2">Thích</span>
                    </div>

                </div>


            </div>
        </div>
        <ng-template #liked1 class="changecolor">
            <img style="opacity: 1;" (click)="addLike1()" class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg"
                alt="">
        </ng-template>
        <ng-template #liked2 class="changecolor">
            <img style="opacity: 1;" (click)="addLike2()" class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg"
                alt="">
        </ng-template>
        <ng-template #liked3 class="changecolor">
            <img style="opacity: 1;" (click)="addLike3()" class="mr-2" src="assets/img/thumb_up_alt-black-18dp.svg"
                alt="">
        </ng-template>
    </div>
</div>

<div *ngIf="currentuser" class="modal fade modal-usercomment" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <div style="text-align:center" class="star-rating">
                        <h1 class="mb-1">
                            Đánh giá của bạn
                        </h1>
                        <h4 class="mb-1">({{newstar}})</h4>
                        <star-rating [value]="10" [totalstars]="10" checkedcolor="red" uncheckedcolor="black"
                            size="24px" [readonly]="false" (rate)="onRate($event)"></star-rating>
                    </div>
                </h5>
                <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #commentForm="ngForm" class="form-container">
                    <textarea ngModel name="comment" #comment="ngModel" required cols="30" rows="10"
                        [(ngModel)]="form.comment"
                        placeholder="Hãy cho mọi người biết bạn đang suy nghĩ gì nè..."></textarea>

                    <br>
                    <button type="button" class="btn btn-success" (click)="handleSubmit()">ĐĂNG</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!currentuser" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Không curentuser
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="bg"></div>

<div class="star-field">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>