<div class="book-detail">
    <div class="book-tittle">
        <div class="dropdown open">
            <div class="btn btn-secondary dropdown-toggle book-show movie" type="button" id="triggerId"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Phim
            </div>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item disabled" href="#">Disabled action</a>
            </div>
        </div>

        <div class="dropdown open">
            <div class="btn btn-secondary dropdown-toggle theater book-show" type="button" id="triggerId"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rạp
            </div>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item disabled" href="#">Disabled action</a>
            </div>
        </div>

        <div class="dropdown ">
            <div class="btn btn-secondary dropdown-toggle book-show daylist" type="button" id="triggerId"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ngày xem
            </div>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item disabled" href="#">Disabled action</a>
            </div>
        </div>
        <div class="dropdown open">
            <div class="btn btn-secondary dropdown-toggle book-show showntime" type="button" id="triggerId"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Xuất chiếu
            </div>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item disabled" href="#">Disabled action</a>
            </div>
        </div>

        <div class="book-button book-show">
            <button mat-raised-button color="accent">Mua vé ngay</button>
        </div>
      
    </div>
</div>