<div class="checkout">
    <h1 class="text-center mb-5">
        Đặt vé nào!!!
    </h1>

    <div class="container-fluid">
        <div class="seat_item">
            <div class="seat_left">
                <app-listseat #listSeat (onSelect)="handleSelect($event)"></app-listseat>
            </div>
            <div class="seat_right">
                <app-bookticket #listSeatBooked (pushListSeat)="handleListSeat($event)" (onRemove)="handleRemove($event)"></app-bookticket>
            </div>
        </div>

    </div>

</div>

<div class="bg"></div>

<div class="star-field">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>