<!-- <h3>
    Danh Sách ghế đang chọn
    <span *ngIf="listSeat.length">
      ({{listSeat.length}})
    </span>
</h3>

<p *ngFor="let seat of listSeat">
<span>
    Ghế: {{seat.name}} - Giá: {{seat.price}}
</span>
<span class="text-danger" (click) = "handleRemove(seat.id)">
    [Hủy]
</span>
</p> -->
<div class="movie__ticket">
    <img [src]="movieDetail.hinhAnh" alt="">
    <div class="movie_detail">
        <h2>{{movieDetail.tenPhim}}</h2>
        <p>{{showtimes[0]?.thoiLuong}} phút - 8.3IMDb</p>
        <div class="loaiPhim">
            <h1>2D</h1>
            <span class="mr-2">Thời gian chiếu: </span><span class="time">{{thoiGianChieu}}</span>
        </div>
    </div>
</div>
<div class="movie__theater">
    <img [src]="theaterLogo[0]?.logo" alt="">
    <div class="tenRap">
        <h2>{{rapDetail.tenCumRap}}</h2>
        <p>{{rapDetail.diaChi}}</p>
        <div class="seat">
            <span class="mr-2">Ghế đã chọn: </span> <span class="seat_select" *ngFor="let seat of listSeat">{{seat.name}}</span>
        </div>
    </div>
</div>
<div class="thanhToan">
    <div class="count">
        <span class="mr-4">Tổng tiền:</span>
        <span class="money">{{price}} (VNĐ)</span>
    </div>
    <hr>
    <button mat-raised-button color="warn" (click)="sendTicket(bookTicket)">Thanh Toán</button>
</div>