<!-- <h3>
    Danh Sách ghế đang chọn
    <span *ngIf="listSeat.length">
      ({{listSeat.length}})
    </span>
</h3>

<p *ngFor="let seat of listSeat">
<span>
    Ghế: {{seat.name}} - Giá: {{seat.price}}
</span>
<span class="text-danger" (click) = "handleRemove(seat.id)">
    [Hủy]
</span>
</p> -->
<div class="movie__ticket">
    <img [src]="thongTinPhim.hinhAnh" alt="">
    <div class="movie_detail">
        <h2>{{thongTinPhim.tenPhim}}</h2>
        <p>{{thoiLuong}} phút - 8.3IMDb</p>
        <div class="loaiPhim">
            <h1>2D</h1>
            <span class="mr-2">Ngày chiếu: </span><span class="time">{{thongTinPhim.ngayChieu}}</span>
            <span class="mr-2">Giờ chiếu: </span><span class="time">{{thongTinPhim.gioChieu}}</span>
        </div>
    </div>
</div>
<div class="movie__theater">
    <img [src]="theaterLogo[0]?.logo" alt="">
    <div class="tenRap">
        <h2>{{thongTinPhim.tenCumRap}}</h2>
        <p>{{thongTinPhim.diaChi}}</p>
        <div class="seat">
            <span class="mr-2">Ghế đã chọn: </span> <span class="seat_select" *ngFor="let seat of listSeat">{{seat.tenGhe}}</span>
        </div>
    </div>
</div>
<div class="thanhToan">
    <div class="count">
        <span class="mr-4">Tổng tiền:</span>
        <span class="money">{{giaVe}} (VNĐ)</span>
    </div>
    <hr>
    <button mat-raised-button color="warn" (click)="sendTicket(bookTicket)">Thanh Toán</button>
</div>


<div class="modal-succcess">
    <div class="text-center">
        <!-- Button HTML (to Trigger Modal) -->
        <a #myDiv href="#myModal" class="trigger-btn" data-toggle="modal" id="modal-trigger">Click to Open Confirm Modal</a>
    </div>
    
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade"> 
        <div class="modal-dialog modal-confirm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">offline_pin</i>
                    </div>				
                    <h4 class="modal-title">Awesome!</h4>	
                </div>

                <div class="modal-body">
                    <p class="text-center">Chúc mừng bạn đã đặt vé thành công</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal" routerLink="/" >OK</button>
                </div>
             
            </div>
        </div>
    </div>    
</div>