.movie__ticket {
    display: flex;
    color: white;
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: rgb(99, 97, 97);
    border-radius: 50px;
    border: 4px solid black;
    padding: 20px;

    img {
        width: 120px;
        height: 120px;
        border-radius: 5px;
    }
    .movie_detail {
        margin-left: 30px;
        h2 {
            font-weight: 500;
            margin-bottom: 4px;
        }
        p {
            margin-bottom: 4px;
        }
        .loaiPhim {
            display: flex;
            h1{
                color: rgb(104, 170, 6);
                font-weight: 700;
                margin-right: 10px;
            }
            span{
                margin-top: 5px;
            }
            .time{
                font-size: 17px;
                font-weight: 500;
                color: rgb(233, 98, 121);
            }
        }
    }
}
.movie__theater {
    display: flex;
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: rgb(99, 97, 97);
    border-radius: 50px;
    border: 4px solid black;
    padding: 20px;
    img {
        width: 100px;
        height: 100px;
    }
    .tenRap {
        margin-left: 30px;
        h2 {
            font-weight: 500;
            margin-bottom: 4px;
        }
        p {
            margin-bottom: 4px;
        }
        .seat{
            .seat_select{
                margin-right: 8px;
                font-size: 20px;
                font-weight: 500;
                color: rgb(240, 85, 85);
            }
        }
    }
}
.thanhToan{
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: rgb(99, 97, 97);
    border-radius: 50px;
    border: 4px solid black;
    padding: 30px;
    hr{
        background: white;
    }
    button{
        width: 100%;
        &:hover{
            background-color: orangered;
            transition: 0.5s
        }
    }
    .count{
        font-size: 18px;
        .money{
            color: rgb(240, 85, 85);
            font-size: 20px;
            font-weight: 500;
        }
    }

}



#modal-trigger {
    display: none;
}
.modal-confirm .modal-content .modal-body {
    color: black !important;
}
.modal-confirm {
    color: #636363;
    width: 325px;
    margin: 30px auto;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center !important;
    font-size: 26px;
    margin: 30px auto -15px;
}
.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    border-top: none !important;
}
.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: green;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: green;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
