.listSeat{
    h2{
        text-align: center;
        color: white;
        padding: 3px 15px;
        background-color: green;
        margin-bottom: 40px;
    }
}
.note{
    margin-top: 50px;
    button{
        width: 30px;
        height: 30px;
        margin-right: 5px;
        padding: 0!important;
    }
}