<h1>DANH SÁCH NGƯỜI DÙNG</h1>
<div class="search_formm">
  <form class="form-inline ml-3 search__user">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Tìm người dùng" aria-label="Search" (input) = "searchUser($event)">
      <div class="input-group-append">
        <button class="btn btn-navbar" (click)= "searchUser($event)" >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>


<div class="user_list">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource"  id="example2" class="table table-bordered table-hover" >
      
          <!-- Position Column -->
          <ng-container matColumnDef="taiKhoan">
            <th mat-header-cell *matHeaderCellDef> Tài Khoản </th>
            <td mat-cell *matCellDef="let element"> {{element.taiKhoan}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="hoTen">
            <th mat-header-cell *matHeaderCellDef> Họ tên </th>
            <td mat-cell *matCellDef="let element"> {{element.hoTen}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="soDt">
            <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
            <td mat-cell *matCellDef="let element"> {{element.soDt}} </td>
          </ng-container>

          <ng-container matColumnDef="matKhau">
            <th mat-header-cell *matHeaderCellDef> Mật khẩu </th>
            <td mat-cell *matCellDef="let element"> {{element.matKhau}} </td>
          </ng-container>

          <ng-container matColumnDef="maLoaiNguoiDung">
            <th mat-header-cell *matHeaderCellDef> Mã loại </th>
            <td mat-cell *matCellDef="let element"> {{element.maLoaiNguoiDung}} </td>
          </ng-container>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Tùy chọn </th>
            <td mat-cell *matCellDef="let element" class="btn-update"> 
              <button class="updateUser" mat-raised-button (click)="onUpdate(element)">Update</button> 
              <button class="deleteUser" mat-stroked-button color="accent" (click)="onDelete(element)">Delete</button>
            </td>
           
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator  [length]="100"
        [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>
